* {
    margin: 5px;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 95vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 30px 0;
}

.logo:hover {
    opacity: 0.8;
}

.menu-icon {
    width: 75px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: brown;
    font-size: 14px;
}

nav ul li a:hover {
    color: chartreuse;
}

header {
    padding: 2em, 0em, 2em, 0em;
    background-color: blue;

}

.main {
    display: flex;
    flex: 1;
    background-color: chartreuse;
}

.left {
    padding: 3em, 0em, 3em, 0em;
    flex: 1 1 100px;
    background-color: orange;
}

main {
    padding: 3em, 0em, 3em, 0em;
    flex: 5 5 150px;
    background-color: aqua;
}

.right {
    padding: 3em, 0em, 3em, 0em;
    flex: 1 1 100px;
    background-color: rgb(197, 20, 220);
}

footer {
    padding: 1em, 0em, 1em, 0em;
    background-color: crimson;
}

@media all and (max-width: 550px) {
    .main {
        flex-direction: column;
    }

    main {
        padding: 5em, 0em, 5em, 0em;
    }
}
